
<section>
  <div class="row">
    <% @spaces.each do |space| %>
    <div class="col-md-4 col-sm-4">
      <div class="item" data-id="1">
        <a href="<%=space_path(space)%>"><%= image_tag space.image.url(:medium)%></a>
          <div class="description">
            <div class="label label-default"><%=space.category.name%></div>
            <h3><%=link_to "#{space.name}", space_path(space)%></h3>
            <h4><%=space.city%>, <%=space.state.upcase%></h4>
          </div>
          <!--end description-->

          <div class="image bg-transfer">
            <%= image_tag space.image.url%>
          </div>
          <!--end image-->
        </a>
        <div class="additional-info">
          <div class="rating-passive" data-rating="4">
            <span class="stars"></span>
            <span class="reviews"><%=@avg_rating%></span>
          </div>
          <div class="controls-more">
            <ul>
              <li><a href="#">Add to favorites</a></li>
              <li><a href="#">Add to watchlist</a></li>
              <li><a href="#" class="quick-detail">Quick detail</a></li>
            </ul>
          </div>
          <!--end controls-more-->
        </div>
        <!--end additional-info-->
      </div>
      <!--end item-->
    </div>
    <!--<end col-md-3-->
    <%end%>
  </div>
  <!--end row-->
</section>

<section>
  <div class="center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <% if @spaces.count >= 6 && @page != 1 %>
        <li><%= link_to 'More Spaces', page: @page + 1 %></li>
        <li><%= link_to 'Previous Spaces', page: @page - 1 %></li>
        <%elsif @spaces.count >= 6 %>
        <li><%= link_to 'More Spaces', page: @page + 1 %></li>
        <%else%>
        <li><%= link_to 'Previous Spaces', page: @page - 1 %></li>
        <%end %>
      </ul>
    </nav>
  </div>
</section>
