<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">My Spaces</li>
    </ol>
    <!--end breadcrumb-->
    <section class="page-title">
      <h1>My Spaces</h1>
    </section>
    <!--end page-title-->
    <section>
      <div class="my-items table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Listings</th>
              <th>Featured</th>
              <th>Views</th>
              <th>Reviews</th>
              <th>Rating</th>
              <th>Last Edited</th>
            </tr>
          </thead>
          <tbody>
            <% @spaces.each do |space| %>
            <tr class="my-item">
              <td>
                <div class="image-wrapper">
                  <div class="circle" data-toggle="tooltip" data-placement="right" title="Top Listing"><i class="fa fa-thumbs-up"></i></div>
                  <a href="edit-listing.html" class="image">
                    <div class="image">
                      <%= image_tag space.image.url(:medium) %>
                    </div>
                </div>
                <div class="info">
                  <a href="detail.html"><h2><%=space.name%></h2></a>
                  <figure class="location"><%=space.city%>, <%=space.state%></figure>
                  <figure class="label label-info"><%=space.category.name%></figure>
                  <div class="additional-info">
                    <!-- <span><i class="fa fa-coffee"></i></span> -->
                    <span class="price-info"> <span class="price"></span><span class="appendix"></span></span>
                  </div>
                  <!--end additional-info-->
                </div>
                <!--end info-->
              </td>
              <td><div class="featured yes"><i class="fa fa-check"></i><aside></aside></div></td>
              <td class="views"></td>
              <td class="reviews"><%=space.reviews.count(:rating)%></td>
              <td class="rating">
                <div class="rating-passive" data-rating="4">
                  <span class="stars"></span>
                  <span class="reviews"><%=space.reviews.average(:rating)%></span>
                </div>
              </td>
              <td class="last-edited"><%=space.updated_at.strftime("%b %d, %Y") + " at " + space.updated_at.strftime("%H:%M")%>
                <span class="last-edit">Last edited: <%=space.updated_at.strftime("%H:%M")%></span>
                <div class="edit-options">
                  <a href="<%=edit_space_path(space)%>" class="link icon"><i class="fa fa-edit"></i>Edit</a>
                  <a href="#" class="link icon"><i class="fa fa-comment"></i>Reviews</a>
                </div>
                <!--end edit-options-->
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <!--end my-items-->
    </section>
    <section>
      <div class="center">

          <%= will_paginate @spaces %>

      </div>
    </section>
  </div>
  <!--end container-->
</div>
