<div class="page-wrapper">
  <div id="page-content">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/spaces">Spaces</a></li>
        <li class="active">Search</li>
      </ol>

      <section class="page-title">
        <h1>Search Results</h1>
      </section>
      <!--end section-title-->



      <section>
        <div class="search-results-controls clearfix">
          <div class="pull-left">
            <a href="listing-grid-right-sidebar.html" class="circle-icon active"><i class="fa fa-th"></i></a>
            <a href="listing-row-right-sidebar.html" class="circle-icon"><i class="fa fa-map"></i></a>
          </div>
          <!--end left-->
          <div class="pull-right">
            <div class="input-group inputs-underline min-width-150px">
              <select class="form-control selectpicker" name="sort">
                <option value="">Sort by</option>
                <option value="1">Price</option>
                <option value="2">Distance</option>
                <option value="3">Title</option>
              </select>
            </div>
          </div>
          <!--end right-->
        </div>
        <!--end search-results-controls-->
      </section>
      <section>
        <div class="row">
          <% @spaces.each do |space| %>
          <div class="col-md-4 col-sm-4">
            <div class="item" data-id="1">
              <span>
                <div class="description">
                  <div class="label label-default"><%= "#{space.category.name}"%></div>
                  <h3 style="margin-top: 5px; margin-bottom: 5px;"><%= link_to "#{space.name}", space_path(space)  %></h3>
                  <h4 style="margin: 0;"><%=space.city%>, <%=space.state.upcase%></h4>
                </div>
                <!--end description-->
                <div class="image bg-transfer">
                  <img src="../assets/background-03.jpg" alt="">
                </div>
              </span>
              <!--end image-->
              <div class="additional-info">
                <div class="rating-passive" data-rating=<%=space.reviews.average(:rating)%>>
                  <div id="star"></div>
                  <span class="reviews"><%=space.reviews.average(:rating)%></span>
                  <span class="star-rating" data-score=<%=space.reviews.average(:rating)%> ></span>
                  <div class="controls-more">
                    <ul>
                      <li><a href="#">Add to favorites</a></li>
                      <li><a href="#">Add to watchlist</a></li>
                      <li><a href="#" class="quick-detail">Quick detail</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--end item-->

            </div>
          </div>
          <%end%>
          <!--<end col-md-3-->
        </div>
        <!--end row-->

      </section>



      <%= will_paginate @spaces %>


    </div>
    <!--end container-->
  </div>
</div>
<!--end page-content-->
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<script>
$('.star-rating').raty({
  path: '/assets',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
