<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Spaces</h2>
        <h3 class="section-subheading text-muted">You've Searched For</h3>
      </div>
    </div>

    <% @spaces.each do |space| %>


    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal<%=space.id%>" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <% if space.image_url.present? %>
          <img src="<%=space.image%>" class="img-responsive" alt="">
          <% else %>
          <img src="http://placehold.it/375x200" class="img-responsive" alt="">
          <% end %>
        </a>
        <div class="portfolio-caption">
          <h4><%= link_to "#{space.name}", space_path(space)  %></h4>
          <p class="text-muted"><%=space.city%>, <%=space.state.upcase%></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal<%=space.id%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2><%=space.name%></h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="<%=space.image%>" alt="">
              <p><%=space.description%></p>
              <ul class="list-inline">
                <li>Address: <%=space.address1.capitalize!%> <br><%=space.city.capitalize%>, <%=space.state.capitalize%>, <%=space.zipcode%></li>
                <li>Phone: <%=space.phone%></li>
                <li>Website: <%=space.website%></li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%end%>
