<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @space.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @space.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @space.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @space.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @space.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @space.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @space.website %>
</p>

<%= link_to 'Write a Review', new_space_review_path(@space) %> |
<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>

<h1> Reviews </h1>
<% if @reviews.blank? %>
<p> No Reviews Yet!</p>
<%else%>
<table class="table">
  <thead>
    <tr>
      <th class="col-mid-3"></th>
      <th class="col-mid-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review|%>
    <tr>
      <td>
        <h5> <%= "#{review.user.first_name} #{review.user.last_name}" %> </h5>
      </td>
      <td>
        <div class="clearfix star-rating" data-score=<%= review.rating %> ></div>
        <%= review.comment %>
      </td>
    </tr>
  </tbody>
</table>
<%end%>
<%end%>

<p>Average Rating:
<%= @avg_rating %></p>


<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
