<section class="block background-is-dark">
  <div class="container">
    <div class="section-title vertical-aligned-elements">
      <div class="element">
        <h2>Popular Spaces</h2>
      </div>
      <div class="element text-align-right">
        <a href="#" class="btn btn-framed btn-rounded btn-default invisible-on-mobile">See More</a>
        <div id="gallery-nav"></div>
      </div>
    </div>
    <!--end section-title-->
  </div>
  <div class="gallery featured">
    <div class="owl-carousel" data-owl-items="6" data-owl-loop="1" data-owl-auto-width="1" data-owl-nav="1" data-owl-dots="1" data-owl-nav-container="#gallery-nav">
      <% popular_spaces = @spaces.sort {|a,b| a.reviews.average(:rating).to_i <=> b.reviews.average(:rating).to_i} %>
      <% popular_spaces.reverse[1..10].each do |space| %>
      <div class="item featured" data-id="1">
        <a href="<%=space_path(space)%>">
          <div class="description">
            <figure></figure>
            <div class="label label-default"><%=space.category.name%></div>
            <h3><%=space.name%></h3>
            <h4><%=space.city%>, <%=space.state%></h4>
          </div>
          <!--end description-->
          <div class="image bg-transfer">
            <img src="assets/img/items/1.jpg" alt="">
          </div>
          <!--end image-->
        </a>
        <div class="additional-info">
          <div class="rating-passive" data-rating="4">
            <span class="stars"></span>
            <span class="reviews">Average Rating: <%=space.reviews.average(:rating)%></span>
          </div>
          <div class="controls-more">
            <ul>
              <li><a href="#">Add to favorites</a></li>
              <li><a href="#">Add to watchlist</a></li>
              <li><a href="#" class="quick-detail">Quick detail</a></li>
            </ul>
          </div>
          <!--end controls-more-->
        </div>
        <!--end additional-info-->
      </div>
      <!--end item-->
      <%end%>
    </div>
  </div>
  <!--end gallery-->
  <div class="background-wrapper">
    <div class="background-color background-color-default"></div>
  </div>
  <!--end background-wrapper-->
</section>
<!--end block-->
