<section class="block background-is-dark">
  <div class="container">
    <div class="section-title vertical-aligned-elements">
      <div class="element">
        <h2>Popular Spaces</h2>
      </div>
      <div class="element text-align-right">
        <a href="#" class="btn btn-framed btn-rounded btn-default invisible-on-mobile">See More</a>
        <div id="gallery-nav"></div>
      </div>
    </div>
    <!--end section-title-->
  </div>
  <div class="gallery featured">
    <div class="owl-carousel" data-owl-items="6" data-owl-loop="1" data-owl-auto-width="1" data-owl-nav="1" data-owl-dots="1" data-owl-nav-container="#gallery-nav">
      <% popular_spaces = @spaces.sort {|a,b| a.reviews.average(:rating).to_i <=> b.reviews.average(:rating).to_i} %>
      <% popular_spaces.reverse[1..10].each do |space| %>
      <div class="item featured" data-id="1">
        <a href="<%=space_path(space)%>"><%=image_tag space.image.url(:small) %>
          <div class="description">
            <figure></figure>
            <div class="label label-default"><%=space.category.name%></div>
            <h3><%=space.name%></h3>
            <h4><%=space.city%>, <%=space.state%></h4>
          </div>
          <!--end description-->

          <!--end image-->
        </a>
        <div class="additional-info">
          <div class="rating-passive" data-rating=<%=space.reviews.average(:rating)%>>
            <% if space.reviews.average(:rating) == nil %>
            <span class="reviews"><%= link_to "Be the first to Review!", space_path(space)%></span>
            <%else%>
            <span class="reviews"><%=space.reviews.average(:rating)%></span>
            <%end%>
            <%if current_user == nil %>
            <div class="fav_button" style="float: right;">
              <%= link_to "Favorite", new_user_registration_path, class: "btn btn-primary btn-rounded btn-xs"%>
            </div>
            <% elsif current_user.favorites.include? space  %>
            <div class="fav_button" style="float: right;">
              <%= link_to "Unfavorite", favorite_space_path(space_path(space), type: "unfavorite"), class: "label label-default", method: :put %>
            </div>
            <%elsif current_user%>
            <div class="fav_button" style="float: right;">
              <%= link_to "Favorite", favorite_space_path(space_path(space), type: "favorite"), class: "label label-default", method: :put %>
            </div>
            <% end %>
          </div>

          <!--end controls-more-->
        </div>
        <!--end additional-info-->
      </div>
      <!--end item-->

      <%end%>
    </div>
  </div>

  <!--end gallery-->
  <div class="background-wrapper">
    <div class="background-color background-color-default"></div>
  </div>
  <!--end background-wrapper-->
</section>
<!--end block-->
