<body class="nav-btn-only homepage">
  <div class="page-wrapper">
    <div id="page-content">
      <div class="hero-section has-background full-screen">
        <div class="wrapper">
          <div class="inner">
            <div class="center">
              <div class="page-title">
                <h1>The World is Our Office</h1>
                <h2>Find Your Space</h2>
              </div>
            </div>
            <%= form_tag search_spaces_path, method: :get do |f| %>
            <div class="form search-form horizontal no-background">
              <div class="container">
                <form>
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <%= text_field_tag :search, nil, placeholder: "Philz Coffee" %>
                      </div>
                      <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
                      </div>
                      <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <%= text_field_tag :location, nil, placeholder: "Palo Alto" %>
                      </div>
                      <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-1 col-sm-4">
                      <div class="form-group">
                        <div id="success"></div>
                        <%= submit_tag 'Search', class: "btn btn-primary pull-right" %> <!--<i class="fa fa-search"></i> -->
                      </div>
                      <!--end form-group-->
                    </div>
                    <!--end col-md-4-->
                  </div>
                  <!--end row-->
                </form>
                <!--end form-hero-->
              </div>
              <!--end container-->
            </div>
            <%end%>
            <!--end search-form-->
          </div>
          <!--end element-->
        </div>
        <!--end vertical-aligned-elements-->

        <div class="slider">
          <!--end owl-carousel-->
          <div class="background-wrapper">
            <div class="background-color background-color-black"></div>
          </div>
          <!--end background-wrapper-->
        </div>
        <!--end slider-->
      </div>
      <!--end hero-section-->


      <%= render "recent_spaces" %>

      <!--end block-->
      <div class="container"><hr></div>
      <section class="block">
        <div class="container">
          <div class="section-title">
            <div class="center">
              <a href="/how_it_works"><h2>How It Works</h2></a>
            </div>
          </div>
          <!--end section-title-->
          <div class="categories-list">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="list-item">
                  <div class="title">
                    <div class="icon"><i class="fa fa-paint-brush"></i></div><br>
                    <h3><a href="#">Cafes</a></h3>
                  </div>
                  <!--end title-->
                  <!-- <ul>
                    <li><a href="">Photography</a><figure class="count">3</figure></li>
                    <li><a href="">History</a><figure class="count">2</figure></li>
                    <li><a href="">Literature</a><figure class="count">4</figure></li>
                  </ul> -->
                </div>
                <!--end list-item-->
              </div>
              <!--end col-md-3-->
              <div class="col-md-3 col-sm-3">
                <div class="list-item">
                  <div class="title">
                    <div class="icon"><i class="fa fa-suitcase"></i></div><br>
                    <h3><a href="#">Co-Working</a></h3>
                  </div>
                  <!--end title-->
                  <!-- <ul>
                    <li><a href="">Business to Business</a><figure class="count">6</figure></li>
                    <li><a href="">Finance</a><figure class="count">4</figure></li>
                    <li><a href="">Shopping</a><figure class="count">3</figure></li>
                    <li><a href="">Jobs</a><figure class="count">5</figure></li>
                  </ul> -->
                </div>
                <!--end list-item-->
              </div>
              <!--end col-md-3-->
              <div class="col-md-3 col-sm-3">
                <div class="list-item">
                  <div class="title">
                    <div class="icon"><i class="fa fa-desktop"></i></div><br>
                    <h3><a href="#">Libraries</a></h3>
                  </div>
                  <!--end title-->
                  <!-- <ul>
                    <li><a href="">Hardware</a><figure class="count">10</figure></li>
                    <li><a href="">Software</a><figure class="count">4</figure></li>
                    <li><a href="">Websites</a><figure class="count">6</figure></li>
                    <li><a href="">Games</a><figure class="count">7</figure></li>
                  </ul> -->
                </div>
                <!--end list-item-->
              </div>
              <!--end col-md-3-->
              <div class="col-md-3 col-sm-3">
                <div class="list-item">
                  <div class="title">
                    <div class="icon"><i class="fa fa-graduation-cap"></i></div><br>
                    <h3><a href="#">Restaurants</a></h3>
                  </div>
                  <!--end title-->
                  <!-- <ul>
                    <li><a href="">Colleges</a><figure class="count">8</figure></li>
                    <li><a href="">K-12</a><figure class="count">7</figure></li>
                    <li><a href="">Distance Learning </a><figure class="count">2</figure></li>
                  </ul> -->
                </div>
                <!--end list-item-->
              </div>
              <!--end col-md-3-->
            </div>
            <!--end row-->
          </div>
          <!--end categories-list-->
        </div>
        <!--end container-->
      </section>
      <!--end block-->
      <section class="block big-padding">
        <div class="container">
          <div class="vertical-aligned-elements">
            <div class="element width-50">
              <h3>Subscribe and be notified about new locations in your area</h3>
            </div>
            <!--end element-->
            <div class="element width-50">
              <form class="form form-email inputs-underline" id="form-subscribe">
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="Your email" required="">
                  <span class="input-group-btn">
                    <button class="btn" type="submit"><i class="arrow_right"></i></button>
                  </span>
                </div><!-- /input-group -->
              </form>
              <!--end form-->
            </div>
            <!--end element-->
          </div>
          <!--end vertical-aligned-elements-->
        </div>
        <!--end container-->
        <div class="background-wrapper">
          <div class="background-color background-color-black opacity-5"></div>
        </div>
        <!--end background-wrapper-->
      </section>
      <!--end block-->
    <%= render "popular_spaces" %>

      <section class="block">
        <div class="container">
          <div class="section-title">
            <h2>Spaces Near You</h2>
          </div>
          <!--end section-title-->
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="text-element event">
                <div class="date-icon">
                  <figure class="day">22</figure>
                  <figure class="month">Jun</figure>
                </div>
                <h4><a href="detail.html">Lorem ipsum dolor sit amet</a></h4>
                <figure class="date"><i class="icon_clock_alt"></i>08:00</figure>
                <p>Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque.</p>
                <a href="detail.html" class="link arrow">More</a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
            <div class="col-md-4 col-sm-4">
              <div class="text-element event">
                <div class="date-icon">
                  <figure class="day">04</figure>
                  <figure class="month">Jul</figure>
                </div>
                <h4><a href="detail.html">Donec mattis mi vitae volutpat</a></h4>
                <figure class="date"><i class="icon_clock_alt"></i>12:00</figure>
                <p>Nullam vitae ex ac neque viverra ullamcorper eu at nunc. Morbi imperdiet.</p>
                <a href="detail.html" class="link arrow">More</a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
            <div class="col-md-4 col-sm-4">
              <div class="text-element event">
                <div class="date-icon">
                  <figure class="day">12</figure>
                  <figure class="month">Aug</figure>
                </div>
                <h4><a href="detail.html">Vivamus placerat</a></h4>
                <figure class="date"><i class="icon_clock_alt"></i>12:00</figure>
                <p>Aenean sed purus ut massa scelerisque bibendum eget vel massa.</p>
                <a href="detail.html" class="link arrow">More</a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
          </div>
          <!--end row-->
          <div class="background-wrapper">
            <div class="background-color background-color-black opacity-5"></div>
          </div>
          <!--end background-wrapper-->
        </div>
        <!--end container-->
      </section>
      <!--end block-->


        <div class="container">
          <div class="section-title">
            <h2>From the Blog</h2>
          </div>
          <!--end section-title-->
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="text-element">
                <h4><a href="blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                <figure class="date">21.06.2015</figure>
                <p>Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus</p>
                <a href="blog-detail.html"><i class="arrow_right"></i></a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
            <div class="col-md-4 col-sm-4">
              <div class="text-element">
                <h4><a href="blog-detail.html">Sed et justo ut nibh condimentum lacinia</a></h4>
                <figure class="date">13.06.2015</figure>
                <p>Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus lectus. Aliquam laoreet purus in iaculis sodales. </p>
                <a href="blog-detail.html"><i class="arrow_right"></i></a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
            <div class="col-md-4 col-sm-4">
              <div class="text-element">
                <h4><a href="blog-detail.html">Suspendisse varius eros id enim </a></h4>
                <figure class="date">03.04.2015</figure>
                <p>Nullam nec turpis blandit, sodales risus vitae, tincidunt velit. Vestibulum ac ipsum tincidunt, vestibulum leo eget, </p>
                <a href="blog-detail.html"><i class="arrow_right"></i></a>
              </div>
              <!--end text-element-->
            </div>
            <!--end col-md-4-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </section>
      <!--end block-->

      <div class="container">
        <hr>
      </div>
      <!--end container-->


      <!--end block-->
    </div>
    <!--end page-content-->
  </div>
  <!--end page-wrapper-->
  <a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>



</body>
