<p id="notice"><%= notice %></p>
<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active"><%= @post.title %></li>
    </ol>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <section class="page-title text-center">
          <h1><%=@post.title%></h1>
        </section>
        <!--end section-title-->
        <div style="margin: auto;
                    text-align: center;">
        <a href="<%=post_path(@post)%>"><%= image_tag @post.image.url(:large)%></a>
      </div>
        <article class="blog-post">
          <br>
          <header style="text-align: center;"><h3><%=@post.subtitle%></h3></a></header>
          <figure class="meta">
            <a href="#" class="link-icon"><i class="fa fa-user"></i>   <%=@post.author%></a>
            <a style="float: right;"href="#" class="link-icon"><i class="fa fa-calendar"></i>   <%=@post.created_at.strftime("%b %d, %Y")%></a>
            <!-- <div class="tags">
              <a href="#" class="tag article">Architecture</a>
              <a href="#" class="tag article">Design</a>
              <a href="#" class="tag article">Trend</a>
            </div> -->
          </figure>
          <hr>
          <p>
            <%=@post.body%>
          </p>
          <!-- <h3>Parahraph Headline</h3> -->
          <!-- <h3>Audio Object</h3>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/71654970&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
          <h3>Parahraph Headline</h3>
          <p>
            Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.
            Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget
            felis convallis fermentum et eu nulla. Donec sagittis sit amet erat non eleifend. Mauris at convallis
            magna. Quisque pellentesque id mauris vitae placerat.
          </p>
          <h4>List Headline</h4>
          <ul>
            <li>Phasellus metus ipsum, sollicitudin</li>
            <li>Quisque pellentesque id mauris</li>
            <li>Donec ac lorem commodo</li>
            <li>In nisi risus, molestie a sem adipiscing</li>
            <li>Pellentesque nec felis sit amet nunc</li>
          </ul> -->
        </article><!-- /.blog-post-listing -->
        <!-- <section id="about-author">
          <header><h3>About the Author</h3></header>
          <div class="post-author">
            <img src="assets/img/person-01.jpg">
            <div class="wrapper">
              <header>Maria Scott</header>
              <p>Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.
                Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget
              </p>
            </div>
          </div>
        </section> -->

        <section id="comments" style="overflow: auto;">
          <% if @post.comments.exists? %>
          <header><h2 class="no-border">Comments</h2></header>
          <% end %>
          <% @post.comments.each do |comment| %>
          <ul class="comments">
            <li class="comment">
              <figure>
                  <%= image_tag comment.user.avatar(:thumb) %>
              </figure>
              <div class="comment-wrapper">
                <div class="name pull-left"><%=comment.user.email%></div>
                <span class="link-icon"><span class="fa fa-calendar"></span>  <%=comment.created_at.strftime("%b %d, %Y")%></span>
                <p>
                  <%=comment.body%>
                </p>
              </div>
            </li>
            <hr>
          </ul>
          <% end %>
        </section>
        <%= render "comments/form" %>

      </div>
      <!--end col-md-9-->

      <!--end col-md-4-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</div>
<!--end page-content-->
