<p id="notice"><%= notice %></p>
<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li class="active"><%= @post.title %></li>
    </ol>
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <section class="page-title">
          <h1><%=@post.title%></h1>
        </section>
        <!--end section-title-->
        <article class="blog-post">
          <%= image_tag @post.image(:medium) %>
          <header><h2><%=@post.subtitle%></h2></a></header>
          <figure class="meta">
            <a href="#" class="link-icon"><i class="fa fa-user"></i><%=@post.author%></a>
          </figure>
          <p>
            <%=simple_format(@post.body)%>
          </p>
        </article><!-- /.blog-post-listing -->

      </div>
      <% if Space.all.count > 2 %>
      <%= render 'static/recent_spaces_sidebar' %>
      <%end%>
    </div>
    <%= render "comments/show" %>
    <hr>
    <%= render "comments/form" %>


  </div>

  <!--end container-->
</div>
