<p id="notice"><%= notice %></p>
<section style="overflow: auto;">
  <h2>Reviews</h2>
  <div class="review">
    <div class="image">
      <%= image_tag @user.avatar.url(:review)%>
    </div>
    <div class="description">
      <figure>
        <div class="rating-passive">
          <span class="stars"><p>stars</p></span>
          <span class="reviews"><div class="clearfix star-rating" data-score=<%= @review.rating %> ></div> <div id="user_star"></div></span>
          <span class="reviews"><%=avg_rating%></span>
        </div>
        <span class="date"><%=Time.now%></span>
      </figure>
      <p><%=@review.comment%></p>
    </div>
  </div>
</section>
