<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<section>
  <h2>Reviews</h2>
  <div class="review">
    <div class="image">
      <div class="bg-transfer"><img src="assets/img/person-02.jpg" alt=""></div>
    </div>
    <div class="description">
      <figure>
        <div class="rating-passive" data-rating="4">
          <span class="stars"></span>
          <span class="reviews">6</span>
          <span class="reviews"><%=review.rating%></span>
        </div>
        <span class="date"><%=Time.now%></span>
      </figure>
      <p><%=review.comment%></p>
    </div>
  </div>
</section>
