<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Find Your Space</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>


</head>

<body class="nav-btn-only homepage">
  <div class="fakeloader"></div>
  <div class="page-wrapper">
    <header id="page-header">
      <nav>
        <div class="left">
          <a href="/" class="brand"><img src="/assets/logo.png" alt=""></a>
        </div>
        <!--end left-->
        <div class="right">
          <div class="primary-nav has-mega-menu">
            <ul class="navigation">
              <li><a href="/">Home</a>
              </li>
              <%if user_signed_in? %>
              <li class="has-child"><a href="#nav-homepages">My Account</a>
                <div class="wrapper">
                  <div id="nav-homepages" class="nav-wrapper">
                    <ul>
                      <li><a href="/spaces/new">Add A Space</a>
                        <% if user_signed_in?%>
                        <li><a href="/users/<%=current_user.id%>">Profile</a></li>
                        <%end%>
                      </li>
                      <li class="has-child"><a href="#nav-row-listing">Account Settings</a>
                        <div id="nav-row-listing" class="nav-wrapper">
                          <ul>
                            <li><a href="/users/edit">Edit My Account</a></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <%end%>
              <li class="has-child"><a href="#nav-listing">Spaces</a>
                <div class="wrapper">
                  <div id="nav-listing" class="nav-wrapper">
                    <ul>
                      <%if user_signed_in? %>
                      <li><a href="/my_spaces">My Spaces</a></li>
                      <li><a href="/favorites">Favorites</a></li>
                      <li><a href="/howitworks">How it works</a></li>
                      <%else%>
                      <li><a href="/spaces">See All</a></li>
                      <li><a href="/howitworks">How it works</a></li>
                      <%end%>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <% if user_signed_in? %>
            <li><a href="/spaces">Write A Review</a>
              <% else %>
              <li><a href="/users/new">Write A Review</a>
                <%end%>
              </li>
              <li><a href="/posts">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <!--end navigation-->
          </div>
          <!--end primary-nav-->
          <div class="secondary-nav">
            <%if !user_signed_in?%>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-small' %>
            <%= link_to "Register", new_user_registration_path, :class => 'btn btn-small'%>
            <% else %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <%end%>
          </div>
          <!--end secondary-nav-->
          <a href="/spaces/new" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-plus"></i><span>Add A Space</span></a>
          <div class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
        <!--end right-->
      </nav>
      <!--end nav-->
    </header>


    <!--end page-header-->


    <%= render 'layouts/messages' %>

    <%= yield %>
    <%= render 'layouts/footer' %>

  </div>

  <script type="text/javascript" src="/assets/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/assets/icheck.min.js"></script>
  <script type="text/javascript" src="/assets/owl.carousel.js"></script>
  <script type="text/javascript" src="/assets/jquery.trackpad-scroll-emulator.min.js"></script>
  <script type="text/javascript" src="/assets/jssocials.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.raty.js"></script>
  <script type="text/javascript" src="/assets/custom.js"></script>
  <script type="text/javascript" src="/assets/maps.js"></script>
  <script type="text/javascript" src="/assets/fakeLoader.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104673870-1', 'auto');
  ga('send', 'pageview');

  </script>

  <script type="text/javascript">
  $(".fakeloader").fakeLoader({
    spinner:"spinner1",
    timeToHide:1200,
    bgColor:"#4611a7"

  });
  </script>
</body>
</html>
