<!DOCTYPE html>
<html>
<head>
  <title>RemoteSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/messages" %>
<%= yield %>

<script src="jquery.raty.js"></script>
<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function () {
    return $(this).attr('data-score');
  }
});
</script>


</body>
</html>
